<h1>
  <kbd>heroku-bouncer</kbd> Demo
</h1>
<form method="post" action="/auth/heroku" class="heroku-bouncer-demo-login-form">
  <input type="hidden" name="authenticity_token" value="<%= authenticity_token %>">
  <button type="submit">Sign In with Heroku</button>
</form>
