<h2>Heroku Bouncer Demo</h2>
<p>
  Check out the <a href="https://www.github.com/schneems/heroku-bouncer-demo">README</a>
  | <a href="/auth/logout">Logout</a>
</p>
<h3>Your apps:</h3>
<ul>
  <% @apps.each do |app| %>
    <li>
      <a href="/app/<%= app["name"] %>">
        <%= app["name"] %>
      </a>
    </li>
  <% end %>
</ul>

From: <a href="http://twitter.com/schneems">@schneems</a>
