<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>heroku-bouncer Demo</title>
    <link rel="icon" href="/images/heroku.png">
  </head>
  <body class="heroku-bouncer-demo">
    <%= yield %>
  </body>
</html>
